.form_l {
	height: 520px;
	width: 400px;
	background-color: rgba(255, 255, 255, 0.13);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	padding: 50px 35px;
}

.form_l p {
	font-weight: 500;
}
.form_l * {
	font-family: 'Poppins',cursive;
	font-weight: 500;
	color: #ffffff;
	/* color: rgb(102, 7, 26); */
	letter-spacing: 0.5px;
	outline: none;
	border: none;
}

.form_l h3 {
	margin-top: -10px;
	font-size: 32px;
	font-weight: 500;
	line-height: 42px;
	text-align: center;
}

.label_l {
	display: block;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 500;
}
.bg-img{
	width:100%;
	opacity:0.999;
}
.input_l {
	display: block;
	height: 50px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.07);
	border-radius: 3px;
	padding: 0 10px;
	margin-top: 8px;
	font-size: 14px;
	font-weight: 300;
}
.input__box{
	/* margin-top: -23px; */
	width: 300px;
}
.names{
	margin-top: 20px;
	/* margin-left: -220px; */
}
::placeholder {
	color: #e5e5e5;
}

.button_l {
	margin-top: 50px;
	width: 300px;
	background-color: #ffffff;
	color: #080710;
	padding: 8px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}

.forget{
	margin-top: 18px;
}
.bgimage{
	background-color: #080710;
}