*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form_s {
    height: 680px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    padding-bottom: 34px;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

.form_s * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    color: rgb(18, 3, 12);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form_s h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
.bg-img{
	width:100%;
	opacity:0.999;
}
.label_S {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.input_s {
    display: block;
    height: 40px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #080710;
}

::placeholder {
    color: #e5e5e5;
     font-weight: 400;
}

.button_s {
    /* margin-top: 40px; */
    width: 650px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.input__box{
	width: 300px;
}

.inline_1 {
    display: inline-block;
    margin: 0%;
    width: 49%;
}

.inline_2 {
    display: inline-block;
    margin: 0%;
    width: 32%;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin-top: 0px;
}  

.flex-child:first-child {
    margin-right: 20px;
}